real-world-eval/input-projects/**/*.sqlite filter=lfs diff=lfs merge=lfs -text
real-world-eval/input-projects/by-dependents/*.txt filter=lfs diff=lfs merge=lfs -text
real-world-eval/input-projects/by-stars/*.txt filter=lfs diff=lfs merge=lfs -text
